.recent-posts {
    padding: 40px 0;
}

.recent-posts__container {
    display: flex;
    justify-content: space-between;

    @include mq($md) {
        display: block;
    }
}

.recent-posts__slider {
    margin-bottom: 60px;
}

.recent-posts__slider-nav {
    position: relative;

    .swiper-pagination-bullet-active {
        background-color: $orange;
    }
}

.recent-posts__item {
    @include mq($md) {
        margin-bottom: 30px;
    }
}

.recent-posts__item-img-wrap {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding-bottom: 80%;
    display: block;
    width: 100%;
    margin-bottom: 24px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.4s ease-in-out;
        transform: scale(1);
        will-change: transform;
        backface-visibility: hidden;
    }

    @include hover {
        img {
            transform: scale(1.03);
        }
    }
}

.recent-posts__item-title {
    @include clamp-font-size(14, 16);
    line-height: 1.5;
    margin-bottom: 8px;
    font-weight: 800;
}