.categories {
    padding: 40px 0;
}

.categories__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    width: 100%;
}

.categories__item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 10px;
}

.categories__item a {
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease-in-out; // Glađa tranzicija za celokupan item
    border-radius: 4px;
    padding-bottom: 125%;
    display: block;

    span {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 32px;
        color: $white;
        @include clamp-font-size(18, 23);
        font-weight: 800;
        text-transform: uppercase;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 0.4s ease-in-out; // Dodaj tranziciju za sliku
        transform: scale(1);
        will-change: transform;
        backface-visibility: hidden;
    }

    @include hover {
        img {
            transform: scale(1.03); // Zoom-in efekat na slici
        }
    }
}

.categories__item--soon {
    opacity: 0.4;
    pointer-events: none;
}