.categories {
    padding: 50px 0;
}

.categories__container {
    display: flex;
    // justify-content: space-between;
}

.category-item {
    flex: 33.3%;
    max-width: 33.3%;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease-in-out; // Glađa tranzicija za celokupan item

    span {
        position: absolute;
        bottom: 24px;
        left: 0;
        background-color: $orange;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        padding: 5px 12px;
        transition: opacity 0.4s ease-in-out; // Dodaj tranziciju za naslov
        opacity: 1;
    }

    img {
        width: 100%;
        max-height: 525px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.4s ease-in-out; // Dodaj tranziciju za sliku
        transform: scale(1);
    }

    &:hover {
        img {
            transform: scale(1.03); // Zoom-in efekat na slici
        }

        // span {
        //     opacity: 0; // Nestajanje teksta prilikom hovera
        // }
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.category-item--soon {
    opacity: 0.4;
    pointer-events: none;
}