.banner-box {
    padding: 40px 0;
}

.banner-box__wrap {
    position: relative;
}

.banner-box__img {
    border-radius: 4px;
    overflow: hidden;
}

.banner-box__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    max-width: 520px;
}

.banner-box__title {
    @include clamp-font-size(30, 60);
    text-transform: uppercase;
    font-weight: 800;
    color: $white;
    margin-bottom: 25px;
    line-height: 1.125;
    letter-spacing: -1.5px;
}