.services {
    padding: 100px 0;
}

.services__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 -10px;
}

.services__item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 0 10px;
    
    img {
        margin: 0 auto 25px;
        width: 70px;
    }

    p {
        margin: 0 auto;
        max-width: 270px;
        @include clamp-font-size(14, 18);
        text-transform: uppercase;
        line-height: 1.4;
        font-weight: 800;
    }
}