/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	background-color: $snow;
	padding-top: 70px;
}

.site-footer__container {
	display: flex;
	padding-bottom: 40px;
}

.site-footer__item {
	flex: 0 0 33.3%;
	max-width: 33.3%;

	span,
	a  {
		display: block;
		padding-bottom: 10px;
		font-size: 15px;
	}

	a {
		@include hover {
			font-weight: 600;
		}
	}

	img {
		width: 20%;
		margin-bottom: 40px;
	}

	h2 {
		margin-bottom: 40px;
		@include clamp-font-size(16, 18);
		font-weight: 600;
		position: relative;
		padding-bottom: 5px;
		
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 30px;
			height: 1px;
			background-color: $orange;
		}
	}
}

.site-footer__item-media {
	display: flex;
	align-items: center;

	span {
		font-size: 22px;
		transition: $dur $ease;
		display: inline-flex;
		margin-right: 20px;

		@include hover {
			opacity: .6;
		}
	}
}

.footer-bottom {
	padding: 20px 0;
	border-top: 1px solid rgba($black, 0.1);
}

.site-footer__copyright {
	font-family: $font-main;
	font-size:  14px;
	line-height: 1.35;
	color: rgba($black, 0.8);
	text-align: center;

	a {
		@include hover {
			opacity: 0.6;
		}
	}
}