/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
	padding: 20px 0;
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	border-bottom: 1px solid transparent;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $white;
		transform: scaleY(0);
		transform-origin: left top;
		will-change: transform;
		transition: 250ms ease;
	}

	@include hover {
		&::before {
			transform: scaleY(1);
		}

		.main-navigation__menu a {
			color: $black;
		}
	}

	&.is-sticky {
		&::before {
			transform: scaleY(1);
		}
	}
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__nav {
	display: flex;
	align-items: center;
}

.site-header__logo {
	display: block;
	max-width: 130px;
	width: 100%;
	position: relative;

	@include mq($sm + 1, min) {
		max-width: 150px;
	}
}