.products-slider {
    padding: 40px 0 40px 80px;
    margin-left: auto;
    max-width: calc(50% + 845px);
    position: relative;

    // @include mq($xxxl) {
    //     margin-left: auto;
    // }

    @include mq($xl) {
        padding: 40px 0 40px 25px;
    }

    @include mq($md) {
        padding: 40px 0 40px 15px;
    }

    @include mq($sm) {
        padding: 20px 0 20px 15px;
    }
}

.products-slider__wrapper {
    margin-bottom: 60px;
}

.product-slider__nav-container {
    position: absolute;
    top: calc(50% - 65px); // height of product info
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    max-width: 1680px;
    width: 100%;
    padding: 0 80px;
    left: 0;

    @include mq($xl) {
        padding: 0 25px;
    }

    @include mq($md) {
        padding: 0 15px;
    }
}

.product-slider__nav {
    width: 60px;
    height: 60px;
    background-color: $white;
    color: $black;
    border-radius: 50%;
    transition: $dur $ease;
    transform: scale(1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    will-change: transform;
    backface-visibility: hidden;
    box-shadow: 0 2px 8px rgba($black, 0.2);

    @include hover {
        transform: scale(1.1);
    }

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
    }

    @include mq($xl) {
        width: 50px;
        height: 50px;
    }

    @include mq($md) {
        width: 40px;
        height: 40px;
    }
}

.product-slider__nav-prev {
    margin-left: -30px;

    @include mq($xl) {
        margin-left: -25px;
    }

    @include mq($md) {
        margin-left: -15px;
    }
}

.product-slider__nav-next {
    margin-right: -30px;

    @include mq($xl) {
        margin-right: -25px;
    }

    @include mq($md) {
        margin-right: 0;
    }
}

.product-slider__item {
    overflow: hidden;
    position: relative;
}

.product-slider__item-wrap {
    position: relative;
    margin-bottom: 24px;
}

.product-slider__img-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 145%;
    border-radius: 4px;
    display: block;

    @include hover {
        .product-slider__img--default {
            opacity: 0;
        }
    
        .product-slider__img--hover {
            opacity: 1;
        }
    }
}

.product-slider__img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-in-out;
    object-fit: cover;
    opacity: 1;
}

.product-slider__img--hover {
    opacity: 0;
}

.product-slider__item-action {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba($black, 0.2);
    transition: background-color 0.3s ease;

    @include hover {
        span {
            opacity: 1;
            transform: translateX(0);
            visibility: visible;
        }
    }

    img {
        width: 24px;
        height: 24px;
    }

    span {
        opacity: 0;
        position: absolute;
        right: 55px;
        background-color: $black;
        color: $white;
        font-size: 11px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        transition: $dur $ease;
        transform: translateX(10px);
        visibility: hidden;
    }

}

.product-slider__item-title {
    @include clamp-font-size(14, 16);
    line-height: 1.5;
    margin-bottom: 8px;
    font-weight: 800;
}

.product-slider__item-price {
    display: block;
    color: $black;
    font-weight: 400;
    @include clamp-font-size(16, 16);
}

.product-slider__item-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.product-slider__item-tag {
    position: absolute;
    top: -32px;
    right: -40px;
    width: 90px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 5px 12px;
    transform: rotate(45deg);
    transform-origin: left bottom;
    background-color: $orange;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 800;
}